<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link href="/node_modules/gridjs/dist/theme/mermaid.min.css" rel="stylesheet" />
    
    <link rel="stylesheet" href="/manager/css/global.css">
    <link rel="stylesheet" href="/manager/css/nav_component.css" />
    <link rel="stylesheet" href="/manager/css/quanlynhanvien.css">
    <link rel="stylesheet" href="/manager/css/dashboard.css" />

</head>
<body>
    <div class="container-fluid">
        <div class="row d-flex">
            <div class="sidebar">
                <div class="sidebar__top">
                    <img src="/manager/images/nav_component/logo.jpg" alt="" id="manager-logo">
                    <div class="" id="brand__name">Tobey Nguyen CF</div>
                </div>
                <div class="sidebar__middle">
                    <ul>
                        <li class="sidebar__middle-item">
                            <a name="" id="" class="" href="/manager" role="button">
                                <i class="bi bi-house"></i>
                                <p>Tổng quát</p>
                            </a>
                        </li>
                        <li class="sidebar__middle-item">
                            <a name="" id="" class="" href="/manager/menu_item" role="button">
                                <i class="bi bi-card-list"></i>
                                <p>Menu</p>
                            </a>
                        </li>
                        <li class="sidebar__middle-item">
                            <a name="" id="" class="" href="/manager/table" role="button">
                                <i class="bi bi-table"></i>
                                <p>Quản lý bàn</p>
                            </a>
                        </li>
                        <li class="sidebar__middle-item">
                            <a name="" id="" class="" href="#" role="button">
                                <i class="bi bi-send"></i>
                                <p>Giao dịch</p>
                            </a>
                        </li>
                        <li class="sidebar__middle-item">
                            <a name="" id="" class="" href="#" role="button">
                                <i class="bi bi-journal-arrow-down"></i>
                                <p>Report</p>
                            </a>
                        </li>
                        <li class="sidebar__middle-item">
                            <a name="" id="" class="" href="#" role="button">
                                <i class="bi bi-file-earmark-person"></i>
                                <p>Nhân viên</p>
                            </a>
                        </li>
                        <li class="sidebar__middle-item">
                            <a name="" id="" class="" href="#" role="button">
                                <i class="bi bi-gear"></i>
                                <p>Cài đặt</p>
                            </a>
                        </li>
                        <li class="sidebar__middle-item">
                            
                            <input type="checkbox" name="" id="check_sidebar_branch_list" style="display: none;">
                            <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false" onclick="document.getElementById('check_sidebar_branch_list').click()">
                                    <i class="bi bi-geo-alt"></i>
                                    <p>Chi nhánh</p>
                                </button>
                                <div class="dropdown-menu">
                                  <a class="dropdown-item" href="#">Action</a>
                                  <a class="dropdown-item" href="#">Another action</a>
                                  <a class="dropdown-item" href="#">Something else here</a>
                                </div>
                            </div>    
                        </li>
                        <li class="sidebar__middle-item">
                            <a name="" id="" class="" href="#" role="button">
                                <i class="bi bi-envelope"></i>
                                <p>Thông báo</p>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="sidebar__bottom">
                    <img src="/manager/images/nav_component/logo.jpg" alt="" id="imgManagerAvatar">
                    <p id="txtManageName">TobeyNguyen</p>
                    <i id="btnLogout" class="bi bi-box-arrow-right can-hover"></i>
                </div>
            </div>
            <div class="content" style="flex:1; overflow: scroll;">
                {{{body}}}

            </div>
        </div>
    </div>
</body>
</html>

