<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bảng mẫu với Grid.js</title>
    <!-- Import CSS từ Grid.js -->
    {{!--
    <link href="https://cdn.jsdelivr.net/npm/gridjs/dist/theme/mermaid.min.css" rel="stylesheet" />
    --}}
    <link href="node_modules/gridjs/dist/theme/mermaid.min.css" rel="stylesheet" />

</head>

<body>
    <div class="container">
        <div class="row">
            <h1>Sai quyền truy cập.</h1>
        </div>
    </div>
</body>

</html>