{{#section 'js'}}
{{/section}}

<form action="" method="post">
    <div class="container-fluid" style="padding: 40px;">
        <div class="card">
            <div class="card-header">
                <h4>Cập nhật khu vực</h4>
            </div>
            <div class="card-body">
        
                <input class="form-control mb-3" type="text" placeholder="Readonly input here..." readonly
                    value="{{this.area.area_id}}" name="area_id">
                <div class="form-group">
                    <label for="txtName">Tên</label>
                    <input type="text" name="name" id="txtName" class="form-control" value="{{this.area.name}}">
                </div>
            </div>
            <div class="card-footer text-muted">
                <a name="" id="" class="btn btn-outline-success" href="/manager/area" role="button">
                    <i class="bi bi-skip-backward-fill"></i>
                </a>
                <button type="submit" class="btn btn-danger" formaction="/manager/area/del">
                    <i class="bi bi-trash"></i>
                    delete
                </button>
                <button type="submit" class="btn btn-primary" formaction="/manager/area/patch">
                    <i class="bi bi-check2"></i>
                    save
                </button>

            </div>
        </div>
    </div>
</form>