{{#section 'js'}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
    function previewImage(event) {
        var reader = new FileReader();
        reader.onload = function () {
            var output = document.getElementById('preview_image');
            output.src = reader.result;
            output.style.display = 'block';
        };
        reader.readAsDataURL(event.target.files[0]);
    }

</script>
{{/section}}


<form action="" method="post" enctype="multipart/form-data">
    <div class="container-fluid" style="padding: 40px;">
        <div class="card">
            <div class="card-header">
                <h4>Thêm món</h4>
            </div>
            <div class="card-body">
                {{!-- <input class="form-control mb-3" type="text" placeholder="Readonly input here..." readonly> --}}
                <div class="d-flex align-items-center">
                    <div class="form-group">
                        <label for="productImg">Hình ảnh sản phẩm</label>
                        <input name="image" type="file" class="form-control-file" id="productImg" onchange="previewImage(event)" >
                    </div>
                    <img id="preview_image" src="..." class="img-thumbnail" alt="..." style="width: 100px; height: 100px;">
                </div>
                <div class="form-group">
                    <label for="txtName">Tên</label>
                    <input type="text" name="name" id="txtName" class="form-control">
                </div>
                <div class="form-group">
                    <label for="exampleFormControlSelect1">Danh mục</label>
                    <select class="form-control" id="exampleFormControlSelect1" name="category_id">
                        {{#each this.categories}}
                        <option value={{category_id}}>{{category_name}}</option>
                        {{/each}}
                    </select>
                </div>
                <div class="form-group">
                    <label for="txtCostPrice">Giá gốc</label>
                    <input type="text" name="cost_price" id="txtCostPrice" class="form-control">
                </div>
                <div class="form-group">
                    <label for="txtSalePrice">Giá bán</label>
                    <input type="text" name="sale_price" id="txtSalePrice" class="form-control">
                </div>

                <hr>
                <div class="form-group">
                    <label for="exampleFormControlTextarea1">Mô tả</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"
                        name="description"></textarea>
                </div>
            </div>
            <div class="card-footer text-muted">
                <a name="" id="" class="btn btn-outline-success" href="/manager/menu_item" role="button">
                    <i class="bi bi-skip-backward-fill"></i>
                </a>
                {{!-- <button type="submit" class="btn btn-danger" formaction="/admin/categories/del">
                    <i class="bi bi-trash"></i>
                    delete
                </button> --}}
                <button type="submit" class="btn btn-primary">
                    <i class="bi bi-check2"></i>
                    save
                </button>

            </div>
        </div>
    </div>
</form>