*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    justify-content: center;
}

body{
    background: #2564B4;
    /* position: fixed; */
    /* padding-left: 20px; */
}
/* .image {
    width: 30px;
    height: 30px;
}

.image .bn {
    position: fixed;
    width: 30px;
    height: 30px;
    top: 0;
    left: 0;
    object-fit: cover;
} */

.table-list{
    display: flex;
    justify-content: space-around;
}

.table-choose.active{
    background: #f4acad;
}
.table-status{
    font-size: 9pt;
    color: black;
}

.btn-format{
    width: 100%;
    height: 40px;
}

.icon-format{
    font-size: 18pt;
}

.search-box {
    width: 400px; /* Chiều rộng cụ thể */
    max-width: 100%; /* Đảm bảo không vượt quá vùng chứa */
}
#card-content-btn{
    margin-left: 10px;
    margin-right: 10px;
    bottom: 0;
}
.btn-blue, .btn-green{

    margin: 5px;
    width: 100%;
    color: white;
    border: none;
    height: 50px;
    border-radius: 10px;
}

.btn-blue{
    background: #ACD1FF;
}

.btn-green{
    background: #62C78F;

}


.nav-item:hover{
    box-shadow: 0 2px 0 0 #007bff;
}



.ml-10{
    margin-left: 25px;
    font-size: 10pt;
}


.col-sm-6 {
    padding-left: 15px;
    padding-right: 15px;
}

#body-order{
    padding: 0px;
}

.order-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    margin: 20px 20px;
}

#total-price{
    display: flex;
    justify-content: end;
    margin: 20px 20px;
    
}
#total-price h6{
    font-weight: 900;
    color: rgb(0, 0, 0);
    font-size: 15pt;
}

.text-price{
    font-size: 13pt;
    color: rgb(0, 0, 0);
    font-weight: 600;
}

.order-list{
    border: 1pt solid rgb(227, 223, 223);
    border-radius: 10px;
}

.header-order{
    display: flex;
    justify-content: space-between;
}

.header-order h6{
    font-size: 12pt;
    color: #007bff;
    margin: 20px 20px;
    
}

.scrollable-content {
    /* Giới hạn chiều cao vùng cuộn */ 
    max-height: 50vh; 
    overflow-y: scroll; /* Thêm thanh cuộn dọc */
    padding-right: 10px; /* Để nội dung không bị che bởi thanh cuộn */
    scrollbar-width: thin; /* Tùy chọn: Thanh cuộn mỏng hơn */
}
.scrollable-content::-webkit-scrollbar {
    width: 8px; /* Độ rộng thanh cuộn */
}
.scrollable-content::-webkit-scrollbar-thumb {
    background: #ccc; /* Màu của thanh cuộn */
    border-radius: 4px;
}


.btn-checkbox{
    width: 20px;
    height: 20px;
    margin: 15px;
    color: rgb(80, 80, 246);
}

.scrollable-content-table  {
    height: 80vh;
    overflow-y: scroll;
    scrollbar-width: thin; 
}
.scrollable-content-table::-webkit-scrollbar {
    width: 8px; 
}
.scrollable-content-table::-webkit-scrollbar-thumb {
    background: #ccc; 
    border-radius: 4px;
}

.manage_block {
    padding: 0 32px;
}

.table_image_block {
    display: block;
    justify-content: center;
}

.table_image_block img{
    width: 100%;
}

.my_flex_block {
    /* display: flex;
    flex-direction: column; */
}

.manage_block_item {
    /* height: 100%; */
}

.area_list_block a{
    margin-right: 14px;
    background-color: transparent;
    color: black;
    border: none;
}

.area_list_block a.is_active{
    background-color: #004090;
    color: white;
}

.nav_is_active a{
    background-color: #004090;
    color: #fff;
    border-radius: 5px;
}

.nav_is_active a:hover {
    background-color: #004090;
    color: #fff;
    border-radius: 5px;
}

.nav_is_active a:focus {
    color: #fff;
}

