
body{
    background: #2564B4;
}
.image {
    width: 30px;
    height: 30px;
}

.image .bn {
    position: fixed;
    width: 30px;
    height: 30px;
    top: 0;
    left: 0;
    object-fit: cover;
}

.table-list{
    display: flex;
    justify-content: space-around;
}
.table-choose{
    background: #f4acad;
}
.table-status{
    font-size: 9pt;
    color: black;
}

.btn-format{
    width: 100%;
    height: 40px;
}

.icon-format{
    font-size: 18pt;
}

.search-box {
    width: 400px; /* Chiều rộng cụ thể */
    max-width: 100%; /* Đảm bảo không vượt quá vùng chứa */
}
#card-content-btn{
    margin-left: 10px;
    margin-right: 10px;
    bottom: 0;
}
.btn-blue, .btn-green{

    margin: 5px;
    width: 100%;
    color: white;
    border: none;
    height: 50px;
    border-radius: 10px;
}

.btn-blue{
    background: #ACD1FF;
}

.btn-green{
    background: #62C78F;

}


.nav-item:hover{
    box-shadow: 0 2px 0 0 #007bff;
}

.card-format{
    height: 100%;
}


.ml-10{
    margin-left: 25px;
}


.col-sm-6 {
    padding-left: 15px;
    padding-right: 15px;
}

#body-order{
    padding: 0px;
}

.order-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    margin: 20px 20px;
}

#total-price{
    display: flex;
    justify-content: end;
    margin: 20px 20px;
    
}
#total-price h6{
    font-weight: 900;
    color: rgb(0, 0, 0);
    font-size: 15pt;
}