:root {
    --primary-color: rgb(195, 244, 255);
    --primary-color--medium: rgb(54, 242, 255);
    --primary-color--heavy: #0b4559;
    --blue: #4678EE;
    --btn-color--dark: #152259;
    --border-radius: 16px;
    --header-item--padding: 8px 16px;
    --padding: 8px 16px;
    --black: #000000;
    --white: #fff;
    --max-width: 1200px;
    --layout-padding: 40px;

    --text-size-s: 16px;
    --text-size-m: 25px;
    --text-size-l: 48px;
    --box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    --font-family: Arial, Helvetica, sans-serif;
}

:target {
    scroll-margin-top: 150px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}


p {
    margin: 0;
}

.row {
    padding-top: 20px;
}

.text-size-s {
    font-size: 18px;
}

.text-size-m {
    font-size: 32px;
    font-weight: 500;
}
.text-size-l {
    font-size: 48px;
    font-weight: 700;
}

.text-blue {
    font-size: 24px;
    font-weight: 500;
    color: #4678EE;
}

.my-center {
    display: flex;
    justify-content: center;
    text-align: center;
}

.my-separate {
    height: 1px;
    background-color: rgba(0, 0, 0, 0.19);
    margin: 24px 0;
    width: 100%;
}

.my_btn {
    background-color: var(--black);
    color: var(--white);
    border-radius: var(--border-radius);
}

.btn--blue {
    background-color: var(--white);
    color: var(--blue);

}


.can-hover:hover {
    opacity: 0.7;
    cursor: pointer;
}

.can-hover > a:hover {
    /* opacity: 0.7; */
    cursor: pointer;
}


.container {
    max-width: var(--max-width);
}

