:root {
    --primary-color: #c3f4ff;
    --primary-color--medium: #36f2ff;
    --primary-color--heavy: #0b4559;
    --blue: #4678EE;
    --border-radius: 16px;
    --header-item--padding: 8px 16px;
    --padding: 8px 16px;
    --black: #000000;
    --white: #fff;
    --max-width: 1200px;
    --layout-padding: 40px;

    --text-size-s: 16px;
    --text-size-m: 25px;
    --text-size-l: 48px;
    
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


p {
    margin: 0;
}

.row {
    padding-top: 20px;
}

.text-size-s {
    font-size: 18px;
}
.text-size-m {
    font-size: 32px;
    font-weight: 500;
}
.text-size-l {
    font-size: 48px;
    font-weight: 700;
}

.text-blue {
    font-size: 32px;
    font-weight: 500;
    color: #4678EE;
}

.my-center {
    display: flex;
    justify-content: center;
    text-align: center;
}

.my-separate {
    height: 1px;
    background-color: rgba(0, 0, 0, 0.19);
    margin: 24px 0;
    width: 100%;
}

.btn {
    background-color: var(--black);
    color: var(--white);
    border-radius: var(--border-radius);
}

.btn--blue {
    background-color: var(--white);
    color: var(--blue);

}


.can-hover:hover {
    opacity: 0.7;
}

.container-fluid , .container {
    max-width: var(--max-width);
}

#header {
    background-color: var(--primary-color);
    width: 100%;
    padding: var(--layout-padding);
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    z-index: 100;
}


.header__navbar {
    list-style: none;
    margin: 0;
}

.header__navbar-item {
    padding: var(--header-item--padding);
    color: var(--black-text);
    font-weight: 700;
}

.header__navbar-item a{
    color: var(--black-text);
    font-weight: 700;
}

.logo_img {
    width: 40px;
}

.logo_text_1 {
    color: black;
    font-size: 40px;
    font-family: Roboto;
    font-style: italic;
    font-weight: 900;
    line-height: 20px;
    word-wrap: break-word;
    display: flex;
    align-items: center;
    margin: 0;
    
}
.logo_text_2 {
    color: #FCE700;
    font-size: 40px;
    font-family: Roboto;
    font-style: italic;
    font-weight: 900;
    line-height: 20px;
    display: flex;
    align-items: center;
    margin: 0;
}

.logo__container > a:hover{
    text-decoration: none;
}
.header__login > a {
    padding: var(--header-item--padding);
    margin-left: 6px;
    border-radius: var(--border-radius);
    color: var(--black-text);
    font-weight: 700;
}



#btnLogIn {
    background-color: var(--primary-color);
    color: var(--black-text);
    border: 1px solid var(--black);
}

#btnSignUp {
    background-color: var(--primary-color--medium);
    border: none;
}

#footer {
    background-color: var(--primary-color--heavy);
    padding: var(--layout-padding);
    color: var(--white);
}

.footer__navbar {
    list-style: none;
    margin: 0;
    background-color: rgba(255,255,255,0.2);
}

.footer__navbar-item {
    padding: var(--header-item--padding);
    color: var(--black-text);
}

.footer__navbar-item a{
    color: var(--black-text);
}

#content {
    margin-top: 140px;
}

.content__part {
    padding: var(--layout-padding);
}

.content__part:nth-child(odd) {
    background: linear-gradient(180deg, var(--white) 90%, var(--primary-color) 100%);
}

.content__part:nth-child(even) {
    background: linear-gradient(180deg, var(--primary-color) 90%, var(--white) 100%);
}


.delicacy-proper-item {
    background-color: #ffefe4;
    color: var(--black);
    font-weight: 500;
    padding: var(--padding);
    border-radius: var(--border-radius);
    display: flex;
    align-items: center;
    position: absolute;
    justify-content: space-between;
    width: 280px;
}

.delicacy-proper-item i {
    color: #e46935;
    margin-left: 5px;
    font-size: 24px;
}

.content-3 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.content-3-item {
    display: flex;
}

.content-3-item img{
    width: 80px;
    height: 80px;
    margin-right: 20px;
}

.service-package-item {
    background-color: var(--white);
    border-radius: var(--border-radius);
    margin: 48px 0;
    padding: 24px;
}

.service-package-item + .service-package-item {
    margin-left: 48px;
}

.service-package-item__name {
    font-size: 24px;
    font-weight: 700;
}    

.service-package-item__price {
    font-size: 32px;
    font-weight: 500;
    color: var(--blue);
}

.service-package-item__main-feature {
    color: var(--blue);
}

.service-package-item ul {
    list-style: none;
    margin-bottom: 48px;
}

.service-package-item li {
    padding: 6px 0;
}

.service-package-item i{
    color: var(--blue);
}

.contact-item {
    text-align: center;
}

.contact-item > .btn {
    margin-top: 24px;
    width: 120px;
}

.contact-item img {
    width: 50px;
    height: 50px;
}