:root {
    --primary-color: #c3f4ff;
    --primary-color--medium: #36f2ff;
    --primary-color--heavy: #0b4559;
    --border-radius: 16px;
    --header-item--padding: 8px 16px;
    --black: #000000;
    --white: #fff;
    --max-width: 1500px;
    --layout-padding: 40px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.can-hover:hover {
    opacity: 0.7;
}

.container-fluid , .container {
    max-width: var(--max-width);
}

#header {
    background-color: var(--primary-color);
    width: 100%;
    padding: var(--layout-padding);
}


.header__navbar {
    list-style: none;
    margin: 0;
}

.header__navbar-item {
    padding: var(--header-item--padding);
    color: var(--black-text);
    font-weight: 700;
}

.header__navbar-item a{
    color: var(--black-text);
    font-weight: 700;
}

.logo_img {
    width: 40px;
}

.logo_text_1 {
    color: black;
    font-size: 40px;
    font-family: Roboto;
    font-style: italic;
    font-weight: 900;
    line-height: 20px;
    word-wrap: break-word;
    display: flex;
    align-items: center;
    margin: 0;
    
}
.logo_text_2 {
    color: #FCE700;
    font-size: 40px;
    font-family: Roboto;
    font-style: italic;
    font-weight: 900;
    line-height: 20px;
    display: flex;
    align-items: center;
    margin: 0;
}

.logo__container > a:hover{
    text-decoration: none;
}
.header__login > a {
    padding: var(--header-item--padding);
    margin-left: 6px;
    border-radius: var(--border-radius);
    color: var(--black-text);
    font-weight: 700;
}



#btnLogIn {
    background-color: var(--primary-color);
    color: var(--black-text);
    border: 1px solid var(--black);
}

#btnSignUp {
    background-color: var(--primary-color--medium);
    border: none;
}

#footer {
    background-color: var(--primary-color--heavy);
    padding: var(--layout-padding);
    color: var(--white);
}

.footer__navbar {
    list-style: none;
    margin: 0;
    background-color: rgba(255,255,255,0.2);
}

.footer__navbar-item {
    padding: var(--header-item--padding);
    color: var(--black-text);
}

.footer__navbar-item a{
    color: var(--black-text);
}

#content {
    height: 2000px;
}