* {
    box-sizing: border-box;
}

:root {
    --text-size-m: 20px;
}
.container-fluid, .row, .col {
    margin: 0;
    padding: 0;
}

.container-fluid {
}

.sidebar {
    margin: 0;
    max-width: 300px;
    height: 100vh; 
    background: linear-gradient(180deg, var(--white) 5%, #4feaed 100%);
    box-shadow: var(--box-shadow);
    padding: 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

.sidebar__top {
    text-align: center;
    padding: 40px 0;
    border-bottom: 1px solid black;
    margin-bottom: 30px;
}

.sidebar__top > img {
    border-radius: 50%;
    width: 80px;
    height: 80px;
}

#brand__name {
    font-size: var(--text-size-m);
    font-weight: 500;
}

.sidebar__middle {
    flex: 1;
}

.sidebar__middle > ul{
    list-style: none;
}
.sidebar__middle-item > a, 
.sidebar__middle-item > .dropdown > button{
    display: flex;
    align-items: center;
    color: var(--white);
    background-color: var(--btn-color--dark);
    margin: 12px 0;
    padding: 12px 20px;
    border-radius: 5px;
    font-size: var(--text-size-m);
    font-family: var(--font-family);
    box-shadow: var(--box-shadow);
    width: 100%;
}



.sidebar__middle-item p{
    margin: 0 16px;
}

.sidebar__middle-item a:hover{
    background-color: #8ffeff;
    color: var(--black);
    text-decoration: none;
}

.sidebar__bottom {
    height: 10%;
    max-height: 100px;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    font-size: var(--text-size-m);
    color: black;
    height: 100px;
}

.sidebar__bottom img {
    width: 50px;
    height: 50px;
    border-radius: 50px;
}

#btnLogout {
    color: red;
    font-size: 40px;
}